body {
  background: linear-gradient(220deg, #134156, #4a6d7d);
  margin: 0;
  text-align: center;
  font-family: Cinzel Decorative, Baskervville, serif;
}

body, .skill-row, .cutout {
  position: relative;
}

.top-container {
  background-position: bottom;
  background: linear-gradient(220deg, #416677, #1c485d);
  margin: 3.125rem;
}

a {
  color: #C6A514;
  text-decoration: none;
}

a:hover, h1, h2, p {
  color: #fde8cd;
}

.navbar-options {
  font-size: 1.2rem;
}

.logo {
  width: 50%;
  height: auto;
  position: fixed;
  right: 25%;
  opacity: 1;
  z-index: 3;
}

.logo, .bio, hr, .skill-header {
  z-index: 1;
}

.top-text {
  padding-top: 25%;
  padding-bottom: 5%;
}

h1 {
  margin: 3.125rem auto 0 auto;
  font-size: 3.125rem;
  font-family: Felipa, serif;
  width: 30%;
}

h2 {
  margin-top: 0;
  font-size: 1.725rem;
  font-weight: normal;
  margin: 0 auto 0 auto;
  width: 30%;
  padding-bottom: 1.875rem;
}

p {
  font-family: Baskervville, serif;
  line-height: 2;
}

.middle {
  background-color: #336369;
}

.boundary {
  max-width: 1800px;
  margin: 0 auto;
}

.profile {
  width: 12.5rem;
  top: 1.25rem;
  border-radius: 50%;
  margin: 1.875rem;
}

.bio {
  margin: auto;
  width: 30%;
}

h3 {
  color: #C6A514;
  margin-top: 0;
  font-size: 1.125rem;
}

hr {
  border-color: #fde8cd;
  border-style: dotted none none;
  border-width: 0.313rem;
  margin: 4rem auto;
  width: 5%;
}

.skill-row {
  text-align: left;
}

.top-skill {
  margin: 6.25rem auto 6.25rem 35%;
  width: 40%;
}

.bottom-skill {
  margin: 6.25rem 35% 6.25rem 25%;
  width: 38%;
}

.lion-speech, .cutout:after, .terminal {
  position: absolute;
}

.lion-speech {
  width: 9.375rem;
  top: -30.625rem;
  margin-left: -26%;
}

.lion-speech-sm, .terminal-sm, .card-sm {
  display: none;
}

.cutout {
  float: left;
  width: 9.375rem;
  height: 91.15rem;
  top: -47.4rem;
  margin-left: -26%;
  overflow: hidden;
}

.cutout:after{
  content:'';
  left: -50.938rem; top: -3.8rem;
  border-radius:50%;
  width: 8.75rem; height: 8.75rem;
  border: 51.25rem solid #336369;
}

.terminal {
  float: right;
  width: 11.25rem;
  margin-left: 101%;
  border-radius: 25%;
}

.end-picture {
  background-image: url("./mountain-mist.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40rem;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.card-lg {
  padding: 2%;
}

.card p {
  color: black;
  line-height: 1.5rem;
}

.contact-me {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.contact-message {
  margin: auto;
  width: 40%;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 0.5rem;
  font-family: Cinzel Decorative, Georgia;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}

.btn:hover {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  text-decoration: none;
}

.bottom-container {
  background-color: #321f28;
  padding-bottom: 0.313rem;
  padding-top: 2.5rem;
}

.copy-right {
  font-size: 0.75rem;
}

.footer-link {
  margin: 1rem 1.25rem;
}

@media (max-width: 1500px) {
  .top-skill {
    margin-left: 36%;
    width: 39%;
  }
  
  .bottom-skill {
    width: 37%;
  }
  
  .lion-speech, .cutout {
    margin-left: -30%;
  }
}

@media (max-width: 1350px) {
  .top-skill {
    margin-left: 38%;
    width: 37%;
  }
  
  .bottom-skill {
    width: 35%;
  }
  
  .lion-speech, .cutout {
    margin-left: -35%;
  }
}

@media (max-width: 1200px) {
  .top-skill {
    margin-left: 39%;
    width: 36%;
  }
  
  .bottom-skill {
    width: 33%;
  }
  
  .lion-speech, .cutout {
    margin-left: -39%;
  }
}

@media (max-width: 1100px) {
  .navbar {
    position: fixed;
    background: linear-gradient(220deg, #1c485d, #416677);
    margin-top: -5rem;
    width: 100%;
    height: 7rem;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }

  .top-skill {
    margin-left: 40%;
    width: 35%;
  }
  
  .bottom-skill {
    margin-left: 25%;
    width: 32%;
  }
  
  .lion-speech, .cutout {
    margin-left: -45%;
  }
}

@media (max-width: 1000px) {
  .skill-row {
    text-align: center;
    width: 40%;
  }

  .top-skill {
    margin: 6.25rem auto 6.25rem 30%;
  }

  .bottom-skill {
    margin: 6.25rem 30% 6.25rem auto;
  }

  .lion-speech-sm, .terminal-sm {
    position: relative;
  }
  
  .lion-speech, .cutout, .cutout:after, .terminal, .card-lg {
    display: none;
  }

  .lion-speech-sm, .terminal-sm {
    display: block;
    margin: auto auto 15%;
    border-radius: 25%;
  }

  .terminal-sm {
    width: 11.25rem;
  }

  .end-picture {
    align-content: flex-start;
    justify-content: center;
    display: inherit;
  }

  .card-sm {
    display: block;
    width: 40%;
  }
}

@media (max-width: 800px) {
  .card-sm {
    width: 55%;
  }
}

@media (max-width: 750px) {
  .navbar {
    height: 7.5rem;
  }

  h1, h2, .bio, .skill-row, .contact-message {
    width: 50%;
  }

  .top-skill, .bottom-skill {
    margin-left: 25%;
    margin-right: 25%;
  }

  .end-picture {
    background-image: url('./mountain-mist-sm.JPG');
  }

  .card-sm {
    width: 60%;
  }
}

@media (max-width: 650px) {
  .navbar {
    height: 7rem;
  }

  .end-picture {
    height: 30rem !important;
  }
}

@media (max-width: 600px) {
  .navbar {
    height: 6.5rem;
  }

  .end-picture {
    height: 32rem !important;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 5.5rem;
  }

  .navbar-options, h3 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  .bio, .skill-row, .contact-message {
    width: 60%;
  }

  .top-skill, .bottom-skill {
    margin-left: 20%;
    margin-right: 20%;
  }

  .end-picture {
    height: 33rem !important;
  }

  .card-sm {
    width: 70%;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 1.35rem !important;
  }

  .card-sm {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .navbar {
    height: 5rem;
  }

  .navbar-options {
    font-size: 0.8rem;
  }

  .bio, .skill-row, .contact-message {
    width: 70%;
  }

  .top-skill, .bottom-skill {
    margin-left: 15%;
    margin-right: 15%;
  }

  .end-picture {
    height: 34rem !important;
  }
}